<body>
  {% extends 'base.html'%}
  {% import 'bootstrap/wtf.html' as wtf%}

  <meta charset="utf-8">
  {% if title %}
  <title> {{ title }}</title>
  {% else %}
  <title> BLOG </title>
  {% endif %}
  {% block content %}
  <div class="container">
    <div class="row" style="margin-bottom: 0%;">
      {% if current_user.is_authenticated %}
      <h2 style="font-family: 'Sigmar One', cursive; text-align: center;"><u>BLOG</u></h2>
      {% for post in posts %}
      <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12" style="padding-bottom: 15px; text-align: center;">
        <h2 class="card-text" style="font-family: 'Orbitron', sans-serif;">{{post.post}}</h2>
        <p><strong>Posted on: {{post.posted_at}}</strong></p>
        <p><strong>Posted by: {{post.user}}</strong></p>
        <a href="/post/{{post.id}}">comments</a>
      </div>
      {% endfor %}
    </div>
    <br><br>
    {{wtf.quick_form(post_form)}}
    <br><br><br>
    {% for quote in quotes %}
    <h2 style="text-align: center"><u>Quote of the day:</u></h2>
      <h3 style="text-align: center;font-family: 'Luckiest Guy', cursive;" >{{quote.quote}}</h3>
      <h4 style="text-align: center;font-family: 'Orbitron', sans-serif;"><strong> ~{{quote.author}}</strong></h4>
    {% endfor %}
    {%else%}
    <h2 style="text-align: center;"><strong><u>WELCOME TO MY BLOG.</u></strong></h2><br><br>
    <h2 style="font-size: 50px; text-align: center; font-family: 'Faster One', cursive;">PLEASE LOG IN SO AS TO CREATE
      AND SHARE YOUR OPINIONS .</h2>
    <br><br>
    {%endif%}
  </div>
  {% endblock %}
</body>