<body>
  {% extends 'base.html'%}
  {% import 'bootstrap/wtf.html' as wtf%}

  <meta charset="utf-8">
  {% if title %}
  <title> {{ title }}</title>
  {% else %}
  <title> BLOG </title>
  {% endif %}
  {% block content %}
  <div class="container">
    <h2 style="text-align: center;"><strong><u>WELCOME TO PITCHES.💚</u></strong></h2><br><br>
    <div class="row" style="margin-bottom: 0%;">
      {% if current_user.is_authenticated %}
      {% for post in posts %}
      <div class="col-md-4 col-xs-4 col-lg-4 col-sm-4" style=" padding-bottom: 2.5%; text-align: center;">
        <h2 class="card-text" style="font-family: 'Orbitron', sans-serif;">{{post.post}}</h2>
        <a href="/post/{{post.id}}">comments</a>
      </div>
      {% endfor %}
    </div>
    <br><br>
    {{wtf.quick_form(post_form)}}
    {%else%}
    <h2 style="font-size: 50px; text-align: center; font-family: 'Faster One', cursive;"></h2>
    <br><br>
    {%endif%}
  </div>
  {% endblock %}
</body>